#link
{
    text-decoration:none;
    text-transform:capitalize;
    padding:15px 15px;
    font-size:15px;
    font-weight:normal;
   
}
#link:hover{
    background: #dedede;;
    text-decoration:none;
  }
.link{
    text-decoration:none;
}