@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --main:'Akaya Kanadaka', cursive;
    --secon: 'Inconsolata', monospace;
    --hover:#dbf6e9;
    --under: #A2A2A2;
    --primary: #f9f3f3;
    --btn: #3DC2F3;
    --assent:rgb(238,238,238);
    --back:#EEEEEE;
    --dlt:#FF504A;
    --pending:#FF7C24;
    --success:#00C821;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}
